<nav class="navbar">
  <app-language-selector></app-language-selector>
  <div class="navbar__logo">
    <img *ngIf="!light" id="logo" src="../../../assets/images/ds-logo.png" />
    <img
      *ngIf="light"
      id="logo"
      src="../../../assets/images/ds-logo-black.png"
    />
  </div>

  <div class="navbar__options">
    <ul class="navbar__options--tabs">
      <li routerLink="/home" routerLinkActive="active">
        {{ "navbar.home" | translate }}
      </li>
      <li routerLink="/destination" routerLinkActive="active">
        {{ "navbar.about" | translate }}
      </li>
      <li routerLink="/crew" routerLinkActive="active">
        {{ "navbar.experience" | translate }}
      </li>
      <li routerLink="/tecnology" routerLinkActive="active">
        {{ "navbar.projects" | translate }}
      </li>
    </ul>
  </div>

  <div class="navbar__theme">
    <button type="button" (click)="toggleTheme()">
      <fa-icon [icon]="icon"></fa-icon>
      <!-- <img src="../../../assets/images/{{ icon }}.png" /> -->
    </button>
  </div>
</nav>
