.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;

  height: 70px;
  transform: translateY(0px);
  background-color: var(--background-navbar);
  // box-shadow: 0 10px 30px -10px var(--navy-shadow);

  width: 100%;
  // height: 80px;
  padding: 0 20px;

  @media (min-width: 768px) {
    height: 80px;
  }

  &__logo {
    display: flex;
    align-items: center;

    width: 200px;
    height: 100%;

    img {
      width: 75px;
    }
  }

  &__right {
    display: flex;
  }

  &__options {
    @media (min-width: 768px) {
      width: 500px;
    }

    @media (min-width: 1000px) {
      width: 750px;
    }

    &--mobileBtn {
      cursor: pointer;
      border: none;
      background-color: transparent;
      margin-top: 20px;
      margin-right: 10px;

      @media (min-width: 768px) {
        display: none;
      }

      #iconMenu {
        font-size: 30px;
        background-color: transparent;
        color: var(--text-primary);
      }
    }

    &--tabs {
      width: 100%;
      height: 100%;
      margin: 0;

      list-style: none;
      background-color: var(--background-navbar);

      display: flex;

      @media (max-width: 767.9px) {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 30vh;

        padding-right: 30px;

        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;

        animation: menuHide 1s forwards;
        animation-timing-function: ease-in;
      }

      @keyframes menuHide {
        0% {
          transform: translateX(0px);
        }

        100% {
          transform: translateX(100%);
        }
      }

      @media (min-width: 768px) {
        padding-left: 50px;
        width: 500px;

        justify-content: space-between;
        align-items: flex-start;
      }

      @media (min-width: 1000px) {
        padding-left: 200px;
        width: 750px;
      }

      li {
        cursor: pointer;
        height: 100%;

        display: flex;
        align-items: center;

        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2.7px;
        color: var(--text-primary);

        transition: color 0.5s;

        &:hover {
          color: var(--secondary);
        }
      }

      li.active {
        color: var(--secondary);
      }

      &.active {
        animation: menushow 0.5s forwards;
        animation-timing-function: ease;
      }

      @keyframes menushow {
        0% {
          transform: translateX(50px);
        }
        100% {
          transform: translateX(0);
        }
      }
    }
  }

  &__theme {
    @media (max-width: 767.9px) {
      display: none;
    }

    display: flex;
    justify-content: end;

    width: 40px;

    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 0;

      #iconTheme {
        font-size: 25px;
        background-color: transparent;
        color: var(--text-primary);
      }
    }
  }
}
