<nav class="navbar">
  <div class="navbar__logo">
    <img
      *ngIf="!light"
      id="logo"
      src="../../../assets/images/ds-logo-cyan.png"
      alt="Logotipo com letras D e S"
    />
    <img
      *ngIf="light"
      id="logo"
      src="../../../assets/images/ds-logo-purple.png"
      alt="Logotipo com letras D e S"
    />
    <app-language-selector></app-language-selector>
  </div>

  <div class="navbar__right">
    <div class="navbar__options">
      <button
        class="navbar__options--mobileBtn"
        type="button"
        (click)="showMenu()"
      >
        <span class="material-icons" id="iconMenu">{{ menuIcon }}</span>
      </button>
      <ul class="navbar__options--tabs" id="mobile-menu">
        <li [class.active]="aba == 'home'" (click)="aba = 'home'">
          {{ "navbar.home" | translate }}
        </li>
        <li [class.active]="aba == 'about'" (click)="aba = 'about'">
          {{ "navbar.about" | translate }}
        </li>
        <li [class.active]="aba == 'experiencie'" (click)="aba = 'experiencie'">
          {{ "navbar.experience" | translate }}
        </li>
        <li [class.active]="aba == 'projects'" (click)="aba = 'projects'">
          {{ "navbar.projects" | translate }}
        </li>
      </ul>
    </div>

    <div class="navbar__theme">
      <button type="button" (click)="toggleTheme()">
        <span class="material-icons" id="iconTheme">{{ themeIcon }}</span>
      </button>
    </div>
  </div>
</nav>
