<section class="about">
  <div class="about__title">
    <p>{{ "about.title" | translate }}</p>
  </div>
  <div class="about__content">
    <div class="about__content__picture">
      <picture>
        <img src="../../../../assets/images/Debora.png" />
      </picture>
    </div>

    <div class="about__content__text">
      <p>
        {{ "about.first-text" | translate }}
      </p>
      <br />
      <p>
        {{ "about.second-text" | translate }}
      </p>
      <br />

      <p>
        {{ "about.third-text" | translate }}
      </p>
    </div>
  </div>
</section>
