<section class="presentation">
  <div class="presentation__hello">
    <p>{{ "presentation.hello" | translate }}</p>
  </div>
  <div class="presentation__title">
    <p>{{ "presentation.title" | translate }}</p>
  </div>
  <div class="presentation__subtitle">
    <p>
      {{ "presentation.subtitle" | translate }}
    </p>
  </div>
  <div class="presentation__text">
    <p>
      {{ "presentation.description" | translate }}
    </p>
  </div>
  <button class="presentation__button">
    <a
      href="https://github.com/deborasuzuki/my-portfolio/blob/main/src/assets/documents/Debora_Suzuki.pdf"
      target="_blank"
    >
      {{ "presentation.button" | translate }}
    </a>
  </button>
</section>
