/* You can add global styles to this file, and also import other style files */

@import url("./reset.scss");
@import url("./theme/_variables.scss");

* {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--background-primary);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Colors */
// --dark-navy: #020c1b;
// --navy: #0a192f;
// --light-navy: #112240;
// --lightest-navy: #233554;
// --navy-shadow: rgba(2, 12, 27, 0.7);
// --dark-slate: #495670;
// --slate: #8892b0;
// --light-slate: #a8b2d1;
// --lightest-slate: #ccd6f6;
// --white: #e6f1ff;
// --green: #64ffda;
// --green-tint: rgba(100, 255, 218, 0.1);
// --pink: #f57dff;
// --blue: #57cbff;

:root {
  --background-primary: #0a192f;
  --background-navbar: rgb(10, 25, 47, 0.85);

  --menu-background: #112240;
  --navy-shadow: rgba(2, 12, 27, 0.7);

  --text-title: #ccd6f6;
  --text-primary: #8892b0;
  --primary: #062f4f;
  --secondary: #64ffda;
  --secondary-transparent: #64ffdb28;
  --tertiary: #b82601;
}

:root .light-theme {
  --background-primary: #fffffb;
  --background-navbar: rgb(255, 255, 251, 0.85);

  --menu-background: #c6c6c6;
  --navy-shadow: rgba(2, 12, 27, 0.7);

  --text-title: #4d1f44;
  --text-primary: #14161c;
  --primary: #062f4f;
  --secondary: #813772;
  --secondary-transparent: #81377214;
  --tertiary: #b82601;
}
