/* You can add global styles to this file, and also import other style files */

@import url("./reset.scss");
@import url("./theme/_variables.scss");

body {
  background-color: #000;
  font-family: "Raleway", sans-serif;
}

* {
  font-family: "Raleway", sans-serif;
}

/* Colors */
:root {
  --dark-color: #0b0d17;
  --light-color: #d0d6f9;
  --white-color: #ffffff;
}
